<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head(${pageTitle}, 'none')" >
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
<div class="container-fluid">
	<div th:replace="navigation :: menu"></div>
	
	<div>
		<h2>Gestion du compte client | [[${pageTitle}]]</h2>
	</div>
		
	<form th:action="@{/customers/save}" th:object="${customer}" method="post"
		style="max-width: 600px; margin:  0 auto;"
		onsubmit="return checkEmailUnique(this);"
		>
		<input type="hidden" th:field="*{id}" />
	<div class="border border-secondary rounded p-3">
	  <div class="form-group row">
	    <label for="firstName" class="col-sm-4 col-form-label">Prénom:</label>
	    <div class="col-sm-8">
	      <input type="text" class="form-control" th:field="*{firstName}" required minlength="2" maxlength="45">
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="lastName" class="col-sm-4 col-form-label">Nom de famille:</label>
	    <div class="col-sm-8">
	      <input type="text" class="form-control" th:field="*{lastName}" required minlength="2" maxlength="45">
	    </div>
	  </div>	  
	  
	  <div class="form-group row">
	    <label for="email" class="col-sm-4 col-form-label">E-mail:</label>
	    <div class="col-sm-8">
	      <input type="email" class="form-control" th:field="*{email}" required minlength="10" maxlength="45">
	    </div>
	  </div>
	  
	  <div class="form-group row">
	    <label for="password" class="col-sm-4 col-form-label">Mot de passe:</label>
	    <div class="col-sm-8">
	      <input type="password" class="form-control" th:field="*{password}" minlength="6" maxlength="45" placeholder="Leave blank if you don't want to change password">
	    </div>
	  </div>
	  
	  <div class="form-group row">
	    <label for="phoneNumber" class="col-sm-4 col-form-label">Téléphone:</label>
	    <div class="col-sm-8">
	      <input type="text" class="form-control" th:field="*{phoneNumber}" required minlength="9" maxlength="12">
	    </div>
	  </div>
	  
	  <div class="form-group row">
	    <label for="addressLine1" class="col-sm-4 col-form-label">Adresse:</label>
	    <div class="col-sm-8">
	      <input type="text" class="form-control" th:field="*{addressLine1}" required minlength="9" maxlength="64">
	    </div>
	  </div>
	  
	  <div class="form-group row">
	    <label for="addressLine2" class="col-sm-4 col-form-label">Nom de votre propriétaire:</label>
	    <div class="col-sm-8">
	      <input type="text" class="form-control" th:field="*{addressLine2}" maxlength="64">
	    </div>
	  </div>
	  			  
	  <div class="form-group row">
	    <label for="country" class="col-sm-4 col-form-label">Pays:</label>
	    <div class="col-sm-8">
	      <select th:field="*{country}" class="form-control">
	      	<option th:each="country : ${listCountries}" th:value="${country.id}">[[${country.name}]]</option>
	      </select>
	    </div>
	  </div>
	  			  
	  <div class="form-group row">
	    <label for="state" class="col-sm-4 col-form-label">Département:</label>
	    <div class="col-sm-8">
	      <select th:field="*{state}" class="form-control">
	      	<option th:each="state : ${listStates}" th:value="${state.id}">[[${state.name}]]</option>
	      </select>
	    </div>
	  </div>

	  			  
	  <div class="form-group row">
	    <label for="city" class="col-sm-4 col-form-label">Ville:</label>
	    <div class="col-sm-8">
	      <select th:field="*{city}" class="form-control">
	      	<option th:each="city : ${listCities}" th:value="${city.id}">[[${city.name}]]</option>
	      </select>
	    </div>
	  </div>
	  
	  
	  <div class="text-center">
	  	<input type="submit" value="Save" class="btn btn-primary m-3" />
	  	<input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel" />
	  </div>
	</div>
	</form>
	
	<div th:replace="modal_fragments :: modal_dialog"></div>
	
	<div th:replace="fragments :: footer"></div>
</div>	
<script type="text/javascript">
	moduleURL = "[[@{/products/new}]]";
	var dropdownCountries;
	var dropdownStates;
	
	$(document).ready(function() {
		dropdownCountries = $("#country");
		dropdownStates = $("#listStates");
	
		dropdownCountries.on("change", function() {
			loadStates4Country();
			$("#state").val("").focus();
		});	
		
		loadStates4Country();
		
		$('#buttonCancel').click(function() { 
			window.location = "[[@{/customers}]]";	
		});		
	});
	
	function loadStates4Country() {
		selectedCountry = $("#country option:selected");
		countryId = selectedCountry.val();
		
		url = "[[@{/states/list_by_country/}]]" + countryId;
		
		$.get(url, function(responseJson) {
			dropdownStates.empty();
			
			$.each(responseJson, function(index, state) {
				$("<option>").val(state.name).text(state.name).appendTo(dropdownStates);
			});
		}).fail(function() {
			showErrorModal("Error loading states/provinces for the selected country.");
		})	
	}	
	
	function checkEmailUnique(form) {
		customerId = $("#id").val();
		customerEmail = $("#email").val();
		csrfValue = $("input[name='_csrf'").val();
		
		url = "[[@{/customers/check_email}]]";
		params = {id : customerId, email: customerEmail, _csrf: csrfValue};
		
		$.post(url, params, function(response) {
			if (response == "OK") {
				form.submit();
			} else if (response == "Duplicated") {
				showWarningModal("Il y a un autre client ayant l'e-mail " + customerEmail);
			} else {
				showErrorModal("Réponse inconnue du serveur");
			}			
		}).fail(function() {
			showErrorModal("Impossible de se connecter au server");	
		});
		
		return false;
	}	
	
</script>
<script th:src="@{/js/common_form.js}"></script>
<script th:src="@{/js/common_form_country_state.js}"></script>	
</body>
</html>