<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>


<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
<div th:fragment="content" th:remove="tag">
	<div class="m-2">
		<label>Courte Description:</label>
		<textarea class="form-control" th:field="*{shortDescription}" rows="5" required></textarea>
	</div>
	
	<div class="m-2">
		<label>Large Description:</label>
		<textarea class="form-control" th:field="*{fullDescription}" rows="10" required></textarea>
	</div>	
</div>		
</body>
</html>