<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head th:replace=" fragments :: page_head('Categories - Immoben Admin', 'none')">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script type="text/javascript"src="jquery.js"></script>
</head>


<body>
	<div class="container-fluid" >
		
		<div th:replace="navigation :: menu"></div>
		
		<h2>Gestion de catégorie</h2>
		
		<div>
			<h4>	
				<a th:href="@{/categories/export/csv}" class="fas fa-file-csv fa-2x icon-dark mr-2"></a>		
				<a th:href="@{/categories/new}">Créer une nouvelle catégorie</a>
			</h4>	
		</div>
	

		<div th:replace="fragments :: search_form_and_message" ></div>		
	
		<div class="full-details mb-5">
			<table class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="thead-dark">
					<tr>
						<th style="min-width: 70px;" th:replace="fragments :: column_link('id', 'Id', 'none')" ></th>
						<th>Image de la catégorie</th>						
						<th th:replace="fragments :: column_link('name', 'Nom de la catégorie', 'none')" ></th>
						<th th:replace="fragments :: column_link('alias', 'Alias', 'none')" ></th>
						<th>Status</th>		
						<th style="min-width: 70px;"></th>
					</tr>								
				</thead>
				
				<tbody>
					<tr th:each="category : ${listCategories}">
						<td class="col-1">[[${category.id}]]</td>
						<td class="col-1">
							<img th:src="@{${category.imagePath}}" style="width: 100px" class="img-fluid-frontEnd"/>
						</td>
						<td class="col-4">[[${category.name}]]</td>
						<td class="col-4">[[${category.alias}]]</td>				
						<td class="col-1 text-center">
							<div th:replace="fragments :: status(${category.enabled}, 'catégorie', '/categories/' + ${category.id})" ></div>		
						</td>					
						<td class="col-1 text-center p-2" style="white-space: nowrap" sec:authorize="hasAnyAuthority('Admin')">
							<div th:replace="fragments :: edit('category', '/categories/edit/' + ${category.id})" ></div>
							&nbsp;&nbsp;
							<div th:replace="fragments :: delete('category', ${category.id}, '/categories/delete/' + ${category.id}, ${!category.hasChildren})" ></div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class= "less-details mb-5">
			<div th:each="category : ${listCategories}" class="row m-1 table-bordered" >
				<div class="col-3 p-1">	
					<span th:if="${category.image == null}" class="fas fa-portrait fa-4x icon-silver "></span>
					<img th:if="${category.image != null}" class="img-fluid-mobile" th:src="@{${category.imagePath}}" />	
				</div>
				<div class="col-7 m-1">
				    <div><b>ID: </b>[[${category.id}]]</div>
					<div><b>Catégorie: </b>[[${category.name}]]</div>
					<div><b>Alias: </b>[[${category.alias}]]</div>
					<div><b>Status: </b>[[${category.enabled}]]</div>
				</div>
				<div class="col-1 text-right p-2" sec:authorize="hasAnyAuthority('Admin')">								
					<div th:replace="fragments :: edit('category', '/categories/edit/' + ${category.id})" ></div>&nbsp;
					<div th:replace="fragments :: delete('category', ${category.id}, '/categories/delete/' + ${category.id}, ${!category.hasChildren})" ></div>					
				</div>
			</div>
		</div>
			
		
		<div class="top_pagination"></div>
		
		<div th:if="${keyword != null}" class="text-center">
			<span>Le résultat de la recherche n'affiche pas les catégories sous forme hiérarchique</span>
			<div th:replace="fragments :: pagination('catégories')" ></div>
		</div>
		
		<th:block th:unless="${keyword != null}" >
			<div th:replace="fragments :: pagination('Top-Level catégories')" ></div>
		</th:block>
		
		<div th:replace=" modal_fragments :: modal_dialog"></div>
		
		<div th:replace="fragments :: footer"></div>

</div>

<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
moduleURL = "[[@{/categories}]]";

	$(document).ready(function() {
		$(".link-delete").on("click", function(e) {
			e.preventDefault();
			showDeleteConfirmModal($(this), 'category');
		});
	});

</script>
</body>
</html>






